@font-face {
  font-family: 'seti';
  src: url('styles/_fonts/seti/seti.eot');
  src: url('styles/_fonts/seti/seti.eot?#iefix') format('eot'), url('styles/_fonts/seti/seti.woff') format('woff'), url('styles/_fonts/seti/seti.ttf') format('truetype'), url('styles/_fonts/seti/seti.svg#seti') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-base-pseudo,
.icon-R:before,
.icon-apple:before,
.icon-argdown:before,
.icon-asm:before,
.icon-audio:before,
.icon-babel:before,
.icon-bower:before,
.icon-bsl:before,
.icon-c-sharp:before,
.icon-c:before,
.icon-cake:before,
.icon-cake_php:before,
.icon-checkbox-unchecked:before,
.icon-checkbox:before,
.icon-cjsx:before,
.icon-clock:before,
.icon-clojure:before,
.icon-code-climate:before,
.icon-coffee:before,
.icon-coffee_erb:before,
.icon-coldfusion:before,
.icon-config:before,
.icon-cpp:before,
.icon-crystal:before,
.icon-crystal_embedded:before,
.icon-css:before,
.icon-csv:before,
.icon-d:before,
.icon-dart:before,
.icon-db:before,
.icon-default:before,
.icon-deprecation-cop:before,
.icon-docker:before,
.icon-editorconfig:before,
.icon-ejs:before,
.icon-elixir:before,
.icon-elixir_script:before,
.icon-elm:before,
.icon-error:before,
.icon-eslint:before,
.icon-ethereum:before,
.icon-f-sharp:before,
.icon-favicon:before,
.icon-firebase:before,
.icon-firefox:before,
.icon-folder:before,
.icon-font:before,
.icon-git:before,
.icon-git_folder:before,
.icon-git_ignore:before,
.icon-github:before,
.icon-go:before,
.icon-go2:before,
.icon-gradle:before,
.icon-grails:before,
.icon-graphql:before,
.icon-grunt:before,
.icon-gulp:before,
.icon-hacklang:before,
.icon-haml:before,
.icon-happenings:before,
.icon-haskell:before,
.icon-haxe:before,
.icon-heroku:before,
.icon-hex:before,
.icon-html:before,
.icon-html_erb:before,
.icon-ignored:before,
.icon-illustrator:before,
.icon-image:before,
.icon-info:before,
.icon-ionic:before,
.icon-jade:before,
.icon-java:before,
.icon-javascript:before,
.icon-jenkins:before,
.icon-jinja:before,
.icon-js_erb:before,
.icon-json:before,
.icon-julia:before,
.icon-karma:before,
.icon-kotlin:before,
.icon-less:before,
.icon-license:before,
.icon-liquid:before,
.icon-livescript:before,
.icon-lock:before,
.icon-lua:before,
.icon-makefile:before,
.icon-markdown:before,
.icon-maven:before,
.icon-mdo:before,
.icon-mustache:before,
.icon-new-file:before,
.icon-npm:before,
.icon-npm_ignored:before,
.icon-nunjucks:before,
.icon-ocaml:before,
.icon-odata:before,
.icon-pddl:before,
.icon-pdf:before,
.icon-perl:before,
.icon-photoshop:before,
.icon-php:before,
.icon-plan:before,
.icon-platformio:before,
.icon-powershell:before,
.icon-project:before,
.icon-pug:before,
.icon-puppet:before,
.icon-python:before,
.icon-rails:before,
.icon-react:before,
.icon-reasonml:before,
.icon-rollup:before,
.icon-ruby:before,
.icon-rust:before,
.icon-salesforce:before,
.icon-sass:before,
.icon-sbt:before,
.icon-scala:before,
.icon-search:before,
.icon-settings:before,
.icon-shell:before,
.icon-slim:before,
.icon-smarty:before,
.icon-spring:before,
.icon-stylelint:before,
.icon-stylus:before,
.icon-sublime:before,
.icon-svg:before,
.icon-swift:before,
.icon-terraform:before,
.icon-tex:before,
.icon-time-cop:before,
.icon-todo:before,
.icon-tsconfig:before,
.icon-twig:before,
.icon-typescript:before,
.icon-vala:before,
.icon-video:before,
.icon-vue:before,
.icon-wasm:before,
.icon-wat:before,
.icon-webpack:before,
.icon-wgt:before,
.icon-windows:before,
.icon-word:before,
.icon-xls:before,
.icon-xml:before,
.icon-yarn:before,
.icon-yml:before,
.icon-zip:before,
.icon-file-binary:before,
.icon-file-pdf:before,
.icon-file-text:before,
.icon-book:before,
.icon-file-media:before,
.icon-markdown:before,
.title:before,
.filetype-icon[data-filename$=".bsl"]:before,
.filetype-icon[data-filename$=".mdo"]:before,
.filetype-icon[data-filename$=".asm"]:before,
.filetype-icon[data-filename$=".s"]:before,
.filetype-icon[data-filename$=".c"]:before,
.filetype-icon[data-filename$=".h"]:before,
.filetype-icon[data-filename$=".m"]:before,
.filetype-icon[data-filename$=".cs"]:before,
.filetype-icon[data-filename$=".cshtml"]:before,
.filetype-icon[data-filename$=".aspx"]:before,
.filetype-icon[data-filename$=".ascx"]:before,
.filetype-icon[data-filename$=".asax"]:before,
.filetype-icon[data-filename$=".master"]:before,
.filetype-icon[data-filename$=".cc"]:before,
.filetype-icon[data-filename$=".cpp"]:before,
.filetype-icon[data-filename$=".cxx"]:before,
.filetype-icon[data-filename$=".c++"]:before,
.filetype-icon[data-filename$=".hh"]:before,
.filetype-icon[data-filename$=".hpp"]:before,
.filetype-icon[data-filename$=".hxx"]:before,
.filetype-icon[data-filename$=".h++"]:before,
.filetype-icon[data-filename$=".mm"]:before,
.filetype-icon[data-filename$=".clj"]:before,
.filetype-icon[data-filename$=".cljs"]:before,
.filetype-icon[data-filename$=".cljc"]:before,
.filetype-icon[data-filename$=".edn"]:before,
.filetype-icon[data-filename$=".cfc"]:before,
.filetype-icon[data-filename$=".cfm"]:before,
.filetype-icon[data-filename$=".coffee"]:before,
.filetype-icon[data-filename$=".config"]:before,
.filetype-icon[data-filename$=".cfg"]:before,
.filetype-icon[data-filename$=".conf"]:before,
.filetype-icon[data-filename$=".cr"]:before,
.filetype-icon[data-filename$=".ecr"]:before,
.filetype-icon[data-filename$=".slang"]:before,
.filetype-icon[data-filename$=".cson"]:before,
.filetype-icon[data-filename$=".css"]:before,
.filetype-icon[data-filename$=".css.map"]:before,
.filetype-icon[data-filename$=".sss"]:before,
.filetype-icon[data-filename$=".csv"]:before,
.filetype-icon[data-filename$=".xls"]:before,
.filetype-icon[data-filename$=".xlsx"]:before,
.filetype-icon[data-filename$=".cake"]:before,
.filetype-icon[data-filename$=".ctp"]:before,
.filetype-icon[data-filename$=".d"]:before,
.filetype-icon[data-filename$=".doc"]:before,
.filetype-icon[data-filename$=".docx"]:before,
.filetype-icon[data-filename$=".ejs"]:before,
.filetype-icon[data-filename$=".ex"]:before,
.filetype-icon[data-filename$=".exs"]:before,
.filetype-icon[data-filename$="mix"]:before,
.filetype-icon[data-filename$=".elm"]:before,
.filetype-icon[data-filename$=".ico"]:before,
.filetype-icon[data-filename$=".fs"]:before,
.filetype-icon[data-filename$=".fsx"]:before,
.filetype-icon[data-filename$=".gitignore"]:before,
.filetype-icon[data-filename$=".gitconfig"]:before,
.filetype-icon[data-filename$=".gitkeep"]:before,
.filetype-icon[data-filename$=".gitattributes"]:before,
.filetype-icon[data-filename$=".gitmodules"]:before,
.filetype-icon[data-filename$=".go"]:before,
.filetype-icon[data-filename$=".slide"]:before,
.filetype-icon[data-filename$=".article"]:before,
.filetype-icon[data-filename$=".gradle"]:before,
.filetype-icon[data-filename$=".groovy"]:before,
.filetype-icon[data-filename$=".gsp"]:before,
.filetype-icon[data-filename$=".gql"]:before,
.filetype-icon[data-filename$=".graphql"]:before,
.filetype-icon[data-filename$=".haml"]:before,
.filetype-icon[data-filename$=".handlebars"]:before,
.filetype-icon[data-filename$=".hbs"]:before,
.filetype-icon[data-filename$=".hjs"]:before,
.filetype-icon[data-filename$=".hs"]:before,
.filetype-icon[data-filename$=".lhs"]:before,
.filetype-icon[data-filename$=".hx"]:before,
.filetype-icon[data-filename$=".hxs"]:before,
.filetype-icon[data-filename$=".hxp"]:before,
.filetype-icon[data-filename$=".hxml"]:before,
.filetype-icon[data-filename$=".html"]:before,
.filetype-icon[data-filename$=".jade"]:before,
.filetype-icon[data-filename$=".java"]:before,
.filetype-icon[data-filename$=".class"]:before,
.filetype-icon[data-filename$=".classpath"]:before,
.filetype-icon[data-filename$=".properties"]:before,
.filetype-icon[data-filename$=".js"]:before,
.filetype-icon[data-filename$=".js.map"]:before,
.filetype-icon[data-filename$=".spec.js"]:before,
.filetype-icon[data-filename$=".test.js"]:before,
.filetype-icon[data-filename$=".es"]:before,
.filetype-icon[data-filename$=".es5"]:before,
.filetype-icon[data-filename$=".es6"]:before,
.filetype-icon[data-filename$=".es7"]:before,
.filetype-icon[data-filename$=".jinja"]:before,
.filetype-icon[data-filename$=".jinja2"]:before,
.filetype-icon[data-filename$=".json"]:before,
.filetype-icon[data-filename$=".jl"]:before,
.filetype-icon[data-filename$="karma.conf.js"]:before,
.filetype-icon[data-filename$="karma.conf.coffee"]:before,
.filetype-icon[data-filename$=".kt"]:before,
.filetype-icon[data-filename$=".kts"]:before,
.filetype-icon[data-filename$=".dart"]:before,
.filetype-icon[data-filename$=".less"]:before,
.filetype-icon[data-filename$=".liquid"]:before,
.filetype-icon[data-filename$=".ls"]:before,
.filetype-icon[data-filename$=".lua"]:before,
.filetype-icon[data-filename$=".markdown"]:before,
.filetype-icon[data-filename$=".md"]:before,
.filetype-icon[data-filename$=".argdown"]:before,
.filetype-icon[data-filename$=".ad"]:before,
.filetype-icon[data-filename$="README.md"]:before,
.filetype-icon[data-filename$="CHANGELOG.md"]:before,
.filetype-icon[data-filename$="CHANGELOG"]:before,
.filetype-icon[data-filename$="CHANGES.md"]:before,
.filetype-icon[data-filename$="VERSION.md"]:before,
.filetype-icon[data-filename$="VERSION"]:before,
.filetype-icon[data-filename$="mvnw"]:before,
.filetype-icon[data-filename$=".mustache"]:before,
.filetype-icon[data-filename$=".stache"]:before,
.filetype-icon[data-filename$=".njk"]:before,
.filetype-icon[data-filename$=".nunjucks"]:before,
.filetype-icon[data-filename$=".nunjs"]:before,
.filetype-icon[data-filename$=".nunj"]:before,
.filetype-icon[data-filename$=".njs"]:before,
.filetype-icon[data-filename$=".nj"]:before,
.filetype-icon[data-filename$=".npm-debug.log"]:before,
.filetype-icon[data-filename$=".npmignore"]:before,
.filetype-icon[data-filename$=".npmrc"]:before,
.filetype-icon[data-filename$=".ml"]:before,
.filetype-icon[data-filename$=".mli"]:before,
.filetype-icon[data-filename$=".cmx"]:before,
.filetype-icon[data-filename$=".cmxa"]:before,
.filetype-icon[data-filename$=".odata"]:before,
.filetype-icon[data-filename$=".pl"]:before,
.filetype-icon[data-filename$=".php"]:before,
.filetype-icon[data-filename$=".php.inc"]:before,
.filetype-icon[data-filename$=".pddl"]:before,
.filetype-icon[data-filename$=".plan"]:before,
.filetype-icon[data-filename$=".happenings"]:before,
.filetype-icon[data-filename$=".ps1"]:before,
.filetype-icon[data-filename$=".psd1"]:before,
.filetype-icon[data-filename$=".psm1"]:before,
.filetype-icon[data-filename$=".pug"]:before,
.filetype-icon[data-filename$=".pp"]:before,
.filetype-icon[data-filename$=".epp"]:before,
.filetype-icon[data-filename$=".py"]:before,
.filetype-icon[data-filename$=".jsx"]:before,
.filetype-icon[data-filename$=".spec.jsx"]:before,
.filetype-icon[data-filename$=".test.jsx"]:before,
.filetype-icon[data-filename$=".cjsx"]:before,
.filetype-icon[data-filename$=".tsx"]:before,
.filetype-icon[data-filename$=".spec.tsx"]:before,
.filetype-icon[data-filename$=".test.tsx"]:before,
.filetype-icon[data-filename$=".re"]:before,
.filetype-icon[data-filename$=".R"]:before,
.filetype-icon[data-filename$=".rb"]:before,
.filetype-icon[data-filename$=".erb"]:before,
.filetype-icon[data-filename$=".erb.html"]:before,
.filetype-icon[data-filename$=".html.erb"]:before,
.filetype-icon[data-filename$=".rs"]:before,
.filetype-icon[data-filename$=".sass"]:before,
.filetype-icon[data-filename$=".scss"]:before,
.filetype-icon[data-filename$=".springBeans"]:before,
.filetype-icon[data-filename$=".slim"]:before,
.filetype-icon[data-filename$=".smarty.tpl"]:before,
.filetype-icon[data-filename$=".sbt"]:before,
.filetype-icon[data-filename$=".scala"]:before,
.filetype-icon[data-filename$=".sol"]:before,
.filetype-icon[data-filename$=".styl"]:before,
.filetype-icon[data-filename$=".swift"]:before,
.filetype-icon[data-filename$=".sql"]:before,
.filetype-icon[data-filename$=".tf"]:before,
.filetype-icon[data-filename$=".tf.json"]:before,
.filetype-icon[data-filename$=".tfvars"]:before,
.filetype-icon[data-filename$=".tex"]:before,
.filetype-icon[data-filename$=".sty"]:before,
.filetype-icon[data-filename$=".dtx"]:before,
.filetype-icon[data-filename$=".ins"]:before,
.filetype-icon[data-filename$=".txt"]:before,
.filetype-icon[data-filename$=".toml"]:before,
.filetype-icon[data-filename$=".twig"]:before,
.filetype-icon[data-filename$=".ts"]:before,
.filetype-icon[data-filename$=".spec.ts"]:before,
.filetype-icon[data-filename$=".test.ts"]:before,
.filetype-icon[data-filename$="tsconfig.json"]:before,
.filetype-icon[data-filename$=".vala"]:before,
.filetype-icon[data-filename$=".vapi"]:before,
.filetype-icon[data-filename$=".vue"]:before,
.filetype-icon[data-filename$=".wasm"]:before,
.filetype-icon[data-filename$=".wat"]:before,
.filetype-icon[data-filename$=".xml"]:before,
.filetype-icon[data-filename$=".yml"]:before,
.filetype-icon[data-filename$=".yaml"]:before,
.filetype-icon[data-filename$="swagger.json"]:before,
.filetype-icon[data-filename$="swagger.yml"]:before,
.filetype-icon[data-filename$="swagger.yaml"]:before,
.filetype-icon[data-filename$=".jar"]:before,
.filetype-icon[data-filename$=".zip"]:before,
.filetype-icon[data-filename$=".wgt"]:before,
.filetype-icon[data-filename$=".ai"]:before,
.filetype-icon[data-filename$=".psd"]:before,
.filetype-icon[data-filename$=".pdf"]:before,
.filetype-icon[data-filename$=".eot"]:before,
.filetype-icon[data-filename$=".ttf"]:before,
.filetype-icon[data-filename$=".woff"]:before,
.filetype-icon[data-filename$=".woff2"]:before,
.filetype-icon[data-filename$=".gif"]:before,
.filetype-icon[data-filename$=".jpg"]:before,
.filetype-icon[data-filename$=".jpeg"]:before,
.filetype-icon[data-filename$=".png"]:before,
.filetype-icon[data-filename$=".pxm"]:before,
.filetype-icon[data-filename$=".svg"]:before,
.filetype-icon[data-filename$=".svgx"]:before,
.filetype-icon[data-filename$=".sublime-project"]:before,
.filetype-icon[data-filename$=".sublime-workspace"]:before,
.filetype-icon[data-filename$=".component"]:before,
.filetype-icon[data-filename$=".cls"]:before,
.filetype-icon[data-filename$=".sh"]:before,
.filetype-icon[data-filename$=".zsh"]:before,
.filetype-icon[data-filename$=".fish"]:before,
.filetype-icon[data-filename$=".zshrc"]:before,
.filetype-icon[data-filename$=".bashrc"]:before,
.filetype-icon[data-filename$=".mov"]:before,
.filetype-icon[data-filename$=".ogv"]:before,
.filetype-icon[data-filename$=".webm"]:before,
.filetype-icon[data-filename$=".avi"]:before,
.filetype-icon[data-filename$=".mpg"]:before,
.filetype-icon[data-filename$=".mp4"]:before,
.filetype-icon[data-filename$=".mp3"]:before,
.filetype-icon[data-filename$=".ogg"]:before,
.filetype-icon[data-filename$=".wav"]:before,
.filetype-icon[data-filename$=".flac"]:before,
.filetype-icon[data-filename$=".3ds"]:before,
.filetype-icon[data-filename$=".3dm"]:before,
.filetype-icon[data-filename$=".stl"]:before,
.filetype-icon[data-filename$=".obj"]:before,
.filetype-icon[data-filename$=".dae"]:before,
.filetype-icon[data-filename$=".bat"]:before,
.filetype-icon[data-filename$=".cmd"]:before,
.filetype-icon[data-filename$="mime.types"]:before,
.filetype-icon[data-filename$="Jenkinsfile"]:before,
.filetype-icon[data-filename$=".babelrc"]:before,
.filetype-icon[data-filename$="bower.json"]:before,
.filetype-icon[data-filename$="Bower.json"]:before,
.filetype-icon[data-filename$=".bowerrc"]:before,
.filetype-icon[data-filename$="dockerfile"]:before,
.filetype-icon[data-filename$="Dockerfile"]:before,
.filetype-icon[data-filename$="DOCKERFILE"]:before,
.filetype-icon[data-filename$=".dockerignore"]:before,
.filetype-icon[data-filename$="docker-healthcheck"]:before,
.filetype-icon[data-filename$="docker-compose.yml"]:before,
.filetype-icon[data-filename$="docker-compose.yaml"]:before,
.filetype-icon[data-filename$="docker-compose.override.yml"]:before,
.filetype-icon[data-filename$="docker-compose.override.yaml"]:before,
.filetype-icon[data-filename$=".codeclimate.yml"]:before,
.filetype-icon[data-filename$=".eslintrc"]:before,
.filetype-icon[data-filename$=".eslintrc.js"]:before,
.filetype-icon[data-filename$=".eslintrc.yaml"]:before,
.filetype-icon[data-filename$=".eslintrc.yml"]:before,
.filetype-icon[data-filename$=".eslintrc.json"]:before,
.filetype-icon[data-filename$=".eslintignore"]:before,
.filetype-icon[data-filename$=".firebaserc"]:before,
.filetype-icon[data-filename$="firebase.json"]:before,
.filetype-icon[data-filename$="geckodriver"]:before,
.filetype-icon[data-filename$="Gruntfile.js"]:before,
.filetype-icon[data-filename$="gruntfile.babel.js"]:before,
.filetype-icon[data-filename$="Gruntfile.babel.js"]:before,
.filetype-icon[data-filename$="gruntfile.js"]:before,
.filetype-icon[data-filename$="Gruntfile.coffee"]:before,
.filetype-icon[data-filename$="gruntfile.coffee"]:before,
.filetype-icon[data-filename$="GULPFILE"]:before,
.filetype-icon[data-filename$="Gulpfile"]:before,
.filetype-icon[data-filename$="gulpfile"]:before,
.filetype-icon[data-filename$="ionic.config.json"]:before,
.filetype-icon[data-filename$="Ionic.config.json"]:before,
.filetype-icon[data-filename$="ionic.project"]:before,
.filetype-icon[data-filename$="Ionic.project"]:before,
.filetype-icon[data-filename$=".jshintrc"]:before,
.filetype-icon[data-filename$=".jscsrc"]:before,
.filetype-icon[data-filename$="platformio.ini"]:before,
.filetype-icon[data-filename$="rollup.config.js"]:before,
.filetype-icon[data-filename$="sass-lint.yml"]:before,
.filetype-icon[data-filename$=".stylelintrc"]:before,
.filetype-icon[data-filename$=".stylelintrc.json"]:before,
.filetype-icon[data-filename$=".stylelintrc.yaml"]:before,
.filetype-icon[data-filename$=".stylelintrc.yml"]:before,
.filetype-icon[data-filename$=".stylelintrc.js"]:before,
.filetype-icon[data-filename$=".stylelintignore"]:before,
.filetype-icon[data-filename$="stylelint.config.js"]:before,
.filetype-icon[data-filename$="yarn.clean"]:before,
.filetype-icon[data-filename$="yarn.lock"]:before,
.filetype-icon[data-filename$="webpack.config.js"]:before,
.filetype-icon[data-filename$="webpack.config.build.js"]:before,
.filetype-icon[data-filename$="webpack.common.js"]:before,
.filetype-icon[data-filename$="webpack.dev.js"]:before,
.filetype-icon[data-filename$="webpack.prod.js"]:before,
.filetype-icon[data-filename$=".direnv"]:before,
.filetype-icon[data-filename$=".env"]:before,
.filetype-icon[data-filename$=".static"]:before,
.filetype-icon[data-filename$=".editorconfig"]:before,
.filetype-icon[data-filename$=".slugignore"]:before,
.filetype-icon[data-filename$=".tmp"]:before,
.filetype-icon[data-filename$=".htaccess"]:before,
.filetype-icon[data-filename$=".key"]:before,
.filetype-icon[data-filename$=".cert"]:before,
.filetype-icon[data-filename$="LICENSE"]:before,
.filetype-icon[data-filename$="LICENCE"]:before,
.filetype-icon[data-filename$="COPYING"]:before,
.filetype-icon[data-filename$="COMPILING"]:before,
.filetype-icon[data-filename$="CONTRIBUTING"]:before,
.filetype-icon[data-filename$="MAKEFILE"]:before,
.filetype-icon[data-filename$="Makefile"]:before,
.filetype-icon[data-filename$="makefile"]:before,
.filetype-icon[data-filename$="QMAKEFILE"]:before,
.filetype-icon[data-filename$="QMakefile"]:before,
.filetype-icon[data-filename$="qmakefile"]:before,
.filetype-icon[data-filename$="OMAKEFILE"]:before,
.filetype-icon[data-filename$="OMakefile"]:before,
.filetype-icon[data-filename$="omakefile"]:before,
.filetype-icon[data-filename$="CMAKELISTS.TXT"]:before,
.filetype-icon[data-filename$="CMAKELISTS.txt"]:before,
.filetype-icon[data-filename$="CMakeLists.txt"]:before,
.filetype-icon[data-filename$="cmakelists.txt"]:before,
.filetype-icon[data-filename$="Procfile"]:before,
.filetype-icon[data-filename$="TODO"]:before,
.filetype-icon[data-filename$="npm-debug.log"]:before,
.filetype-icon[data-filename$=".DS_Store"]:before {
  font-family: 'seti';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
.icon-R:before {
  content: '\E001';
  color: #d4d7d6;
}
.icon-apple:before {
  content: '\E002';
  color: #d4d7d6;
}
.icon-argdown:before {
  content: '\E003';
  color: #d4d7d6;
}
.icon-asm:before {
  content: '\E004';
  color: #d4d7d6;
}
.icon-audio:before {
  content: '\E005';
  color: #d4d7d6;
}
.icon-babel:before {
  content: '\E006';
  color: #d4d7d6;
}
.icon-bower:before {
  content: '\E007';
  color: #d4d7d6;
}
.icon-bsl:before {
  content: '\E008';
  color: #d4d7d6;
}
.icon-c-sharp:before {
  content: '\E009';
  color: #d4d7d6;
}
.icon-c:before {
  content: '\E00A';
  color: #d4d7d6;
}
.icon-cake:before {
  content: '\E00B';
  color: #d4d7d6;
}
.icon-cake_php:before {
  content: '\E00C';
  color: #d4d7d6;
}
.icon-checkbox-unchecked:before {
  content: '\E00D';
  color: #d4d7d6;
}
.icon-checkbox:before {
  content: '\E00E';
  color: #d4d7d6;
}
.icon-cjsx:before {
  content: '\E00F';
  color: #d4d7d6;
}
.icon-clock:before {
  content: '\E010';
  color: #d4d7d6;
}
.icon-clojure:before {
  content: '\E011';
  color: #d4d7d6;
}
.icon-code-climate:before {
  content: '\E012';
  color: #d4d7d6;
}
.icon-coffee:before {
  content: '\E013';
  color: #d4d7d6;
}
.icon-coffee_erb:before {
  content: '\E014';
  color: #d4d7d6;
}
.icon-coldfusion:before {
  content: '\E015';
  color: #d4d7d6;
}
.icon-config:before {
  content: '\E016';
  color: #d4d7d6;
}
.icon-cpp:before {
  content: '\E017';
  color: #d4d7d6;
}
.icon-crystal:before {
  content: '\E018';
  color: #d4d7d6;
}
.icon-crystal_embedded:before {
  content: '\E019';
  color: #d4d7d6;
}
.icon-css:before {
  content: '\E01A';
  color: #d4d7d6;
}
.icon-csv:before {
  content: '\E01B';
  color: #d4d7d6;
}
.icon-d:before {
  content: '\E01C';
  color: #d4d7d6;
}
.icon-dart:before {
  content: '\E01D';
  color: #d4d7d6;
}
.icon-db:before {
  content: '\E01E';
  color: #d4d7d6;
}
.icon-default:before {
  content: '\E01F';
  color: #d4d7d6;
}
.icon-deprecation-cop:before {
  content: '\E020';
  color: #d4d7d6;
}
.icon-docker:before {
  content: '\E021';
  color: #d4d7d6;
}
.icon-editorconfig:before {
  content: '\E022';
  color: #d4d7d6;
}
.icon-ejs:before {
  content: '\E023';
  color: #d4d7d6;
}
.icon-elixir:before {
  content: '\E024';
  color: #d4d7d6;
}
.icon-elixir_script:before {
  content: '\E025';
  color: #d4d7d6;
}
.icon-elm:before {
  content: '\E026';
  color: #d4d7d6;
}
.icon-error:before {
  content: '\E027';
  color: #d4d7d6;
}
.icon-eslint:before {
  content: '\E028';
  color: #d4d7d6;
}
.icon-ethereum:before {
  content: '\E029';
  color: #d4d7d6;
}
.icon-f-sharp:before {
  content: '\E02A';
  color: #d4d7d6;
}
.icon-favicon:before {
  content: '\E02B';
  color: #d4d7d6;
}
.icon-firebase:before {
  content: '\E02C';
  color: #d4d7d6;
}
.icon-firefox:before {
  content: '\E02D';
  color: #d4d7d6;
}
.icon-folder:before {
  content: '\E02E';
  color: #d4d7d6;
}
.icon-font:before {
  content: '\E02F';
  color: #d4d7d6;
}
.icon-git:before {
  content: '\E030';
  color: #d4d7d6;
}
.icon-git_folder:before {
  content: '\E031';
  color: #d4d7d6;
}
.icon-git_ignore:before {
  content: '\E032';
  color: #d4d7d6;
}
.icon-github:before {
  content: '\E033';
  color: #d4d7d6;
}
.icon-go:before {
  content: '\E034';
  color: #d4d7d6;
}
.icon-go2:before {
  content: '\E035';
  color: #d4d7d6;
}
.icon-gradle:before {
  content: '\E036';
  color: #d4d7d6;
}
.icon-grails:before {
  content: '\E037';
  color: #d4d7d6;
}
.icon-graphql:before {
  content: '\E038';
  color: #d4d7d6;
}
.icon-grunt:before {
  content: '\E039';
  color: #d4d7d6;
}
.icon-gulp:before {
  content: '\E03A';
  color: #d4d7d6;
}
.icon-hacklang:before {
  content: '\E03B';
  color: #d4d7d6;
}
.icon-haml:before {
  content: '\E03C';
  color: #d4d7d6;
}
.icon-happenings:before {
  content: '\E03D';
  color: #d4d7d6;
}
.icon-haskell:before {
  content: '\E03E';
  color: #d4d7d6;
}
.icon-haxe:before {
  content: '\E03F';
  color: #d4d7d6;
}
.icon-heroku:before {
  content: '\E040';
  color: #d4d7d6;
}
.icon-hex:before {
  content: '\E041';
  color: #d4d7d6;
}
.icon-html:before {
  content: '\E042';
  color: #d4d7d6;
}
.icon-html_erb:before {
  content: '\E043';
  color: #d4d7d6;
}
.icon-ignored:before {
  content: '\E044';
  color: #d4d7d6;
}
.icon-illustrator:before {
  content: '\E045';
  color: #d4d7d6;
}
.icon-image:before {
  content: '\E046';
  color: #d4d7d6;
}
.icon-info:before {
  content: '\E047';
  color: #d4d7d6;
}
.icon-ionic:before {
  content: '\E048';
  color: #d4d7d6;
}
.icon-jade:before {
  content: '\E049';
  color: #d4d7d6;
}
.icon-java:before {
  content: '\E04A';
  color: #d4d7d6;
}
.icon-javascript:before {
  content: '\E04B';
  color: #d4d7d6;
}
.icon-jenkins:before {
  content: '\E04C';
  color: #d4d7d6;
}
.icon-jinja:before {
  content: '\E04D';
  color: #d4d7d6;
}
.icon-js_erb:before {
  content: '\E04E';
  color: #d4d7d6;
}
.icon-json:before {
  content: '\E04F';
  color: #d4d7d6;
}
.icon-julia:before {
  content: '\E050';
  color: #d4d7d6;
}
.icon-karma:before {
  content: '\E051';
  color: #d4d7d6;
}
.icon-kotlin:before {
  content: '\E052';
  color: #d4d7d6;
}
.icon-less:before {
  content: '\E053';
  color: #d4d7d6;
}
.icon-license:before {
  content: '\E054';
  color: #d4d7d6;
}
.icon-liquid:before {
  content: '\E055';
  color: #d4d7d6;
}
.icon-livescript:before {
  content: '\E056';
  color: #d4d7d6;
}
.icon-lock:before {
  content: '\E057';
  color: #d4d7d6;
}
.icon-lua:before {
  content: '\E058';
  color: #d4d7d6;
}
.icon-makefile:before {
  content: '\E059';
  color: #d4d7d6;
}
.icon-markdown:before {
  content: '\E05A';
  color: #d4d7d6;
}
.icon-maven:before {
  content: '\E05B';
  color: #d4d7d6;
}
.icon-mdo:before {
  content: '\E05C';
  color: #d4d7d6;
}
.icon-mustache:before {
  content: '\E05D';
  color: #d4d7d6;
}
.icon-new-file:before {
  content: '\E05E';
  color: #d4d7d6;
}
.icon-npm:before {
  content: '\E05F';
  color: #d4d7d6;
}
.icon-npm_ignored:before {
  content: '\E060';
  color: #d4d7d6;
}
.icon-nunjucks:before {
  content: '\E061';
  color: #d4d7d6;
}
.icon-ocaml:before {
  content: '\E062';
  color: #d4d7d6;
}
.icon-odata:before {
  content: '\E063';
  color: #d4d7d6;
}
.icon-pddl:before {
  content: '\E064';
  color: #d4d7d6;
}
.icon-pdf:before {
  content: '\E065';
  color: #d4d7d6;
}
.icon-perl:before {
  content: '\E066';
  color: #d4d7d6;
}
.icon-photoshop:before {
  content: '\E067';
  color: #d4d7d6;
}
.icon-php:before {
  content: '\E068';
  color: #d4d7d6;
}
.icon-plan:before {
  content: '\E069';
  color: #d4d7d6;
}
.icon-platformio:before {
  content: '\E06A';
  color: #d4d7d6;
}
.icon-powershell:before {
  content: '\E06B';
  color: #d4d7d6;
}
.icon-project:before {
  content: '\E06C';
  color: #d4d7d6;
}
.icon-pug:before {
  content: '\E06D';
  color: #d4d7d6;
}
.icon-puppet:before {
  content: '\E06E';
  color: #d4d7d6;
}
.icon-python:before {
  content: '\E06F';
  color: #d4d7d6;
}
.icon-rails:before {
  content: '\E070';
  color: #d4d7d6;
}
.icon-react:before {
  content: '\E071';
  color: #d4d7d6;
}
.icon-reasonml:before {
  content: '\E072';
  color: #d4d7d6;
}
.icon-rollup:before {
  content: '\E073';
  color: #d4d7d6;
}
.icon-ruby:before {
  content: '\E074';
  color: #d4d7d6;
}
.icon-rust:before {
  content: '\E075';
  color: #d4d7d6;
}
.icon-salesforce:before {
  content: '\E076';
  color: #d4d7d6;
}
.icon-sass:before {
  content: '\E077';
  color: #d4d7d6;
}
.icon-sbt:before {
  content: '\E078';
  color: #d4d7d6;
}
.icon-scala:before {
  content: '\E079';
  color: #d4d7d6;
}
.icon-search:before {
  content: '\E07A';
  color: #d4d7d6;
}
.icon-settings:before {
  content: '\E07B';
  color: #d4d7d6;
}
.icon-shell:before {
  content: '\E07C';
  color: #d4d7d6;
}
.icon-slim:before {
  content: '\E07D';
  color: #d4d7d6;
}
.icon-smarty:before {
  content: '\E07E';
  color: #d4d7d6;
}
.icon-spring:before {
  content: '\E07F';
  color: #d4d7d6;
}
.icon-stylelint:before {
  content: '\E080';
  color: #d4d7d6;
}
.icon-stylus:before {
  content: '\E081';
  color: #d4d7d6;
}
.icon-sublime:before {
  content: '\E082';
  color: #d4d7d6;
}
.icon-svg:before {
  content: '\E083';
  color: #d4d7d6;
}
.icon-swift:before {
  content: '\E084';
  color: #d4d7d6;
}
.icon-terraform:before {
  content: '\E085';
  color: #d4d7d6;
}
.icon-tex:before {
  content: '\E086';
  color: #d4d7d6;
}
.icon-time-cop:before {
  content: '\E087';
  color: #d4d7d6;
}
.icon-todo:before {
  content: '\E088';
  color: #d4d7d6;
}
.icon-tsconfig:before {
  content: '\E089';
  color: #d4d7d6;
}
.icon-twig:before {
  content: '\E08A';
  color: #d4d7d6;
}
.icon-typescript:before {
  content: '\E08B';
  color: #d4d7d6;
}
.icon-vala:before {
  content: '\E08C';
  color: #d4d7d6;
}
.icon-video:before {
  content: '\E08D';
  color: #d4d7d6;
}
.icon-vue:before {
  content: '\E08E';
  color: #d4d7d6;
}
.icon-wasm:before {
  content: '\E08F';
  color: #d4d7d6;
}
.icon-wat:before {
  content: '\E090';
  color: #d4d7d6;
}
.icon-webpack:before {
  content: '\E091';
  color: #d4d7d6;
}
.icon-wgt:before {
  content: '\E092';
  color: #d4d7d6;
}
.icon-windows:before {
  content: '\E093';
  color: #d4d7d6;
}
.icon-word:before {
  content: '\E094';
  color: #d4d7d6;
}
.icon-xls:before {
  content: '\E095';
  color: #d4d7d6;
}
.icon-xml:before {
  content: '\E096';
  color: #d4d7d6;
}
.icon-yarn:before {
  content: '\E097';
  color: #d4d7d6;
}
.icon-yml:before {
  content: '\E098';
  color: #d4d7d6;
}
.icon-zip:before {
  content: '\E099';
  color: #d4d7d6;
}
.icon-file-binary:before,
.icon-file-pdf:before,
.icon-file-text:before,
.icon-book:before,
.icon-file-media:before,
.icon-markdown:before,
.title:before {
  content: '\E01F';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".bsl"]:before {
  content: '\E008';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".mdo"]:before {
  content: '\E05C';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".asm"]:before {
  content: '\E004';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".s"]:before {
  content: '\E004';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".c"]:before {
  content: '\E00A';
  color: #519aba;
}
.filetype-icon[data-filename$=".h"]:before {
  content: '\E00A';
  color: #a074c4;
}
.filetype-icon[data-filename$=".m"]:before {
  content: '\E00A';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".cs"]:before {
  content: '\E009';
  color: #519aba;
}
.filetype-icon[data-filename$=".cshtml"]:before {
  content: '\E042';
  color: #519aba;
}
.filetype-icon[data-filename$=".aspx"]:before {
  content: '\E042';
  color: #519aba;
}
.filetype-icon[data-filename$=".ascx"]:before {
  content: '\E042';
  color: #8dc149;
}
.filetype-icon[data-filename$=".asax"]:before {
  content: '\E042';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".master"]:before {
  content: '\E042';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".cc"]:before {
  content: '\E017';
  color: #519aba;
}
.filetype-icon[data-filename$=".cpp"]:before {
  content: '\E017';
  color: #519aba;
}
.filetype-icon[data-filename$=".cxx"]:before {
  content: '\E017';
  color: #519aba;
}
.filetype-icon[data-filename$=".c++"]:before {
  content: '\E017';
  color: #519aba;
}
.filetype-icon[data-filename$=".hh"]:before {
  content: '\E017';
  color: #a074c4;
}
.filetype-icon[data-filename$=".hpp"]:before {
  content: '\E017';
  color: #a074c4;
}
.filetype-icon[data-filename$=".hxx"]:before {
  content: '\E017';
  color: #a074c4;
}
.filetype-icon[data-filename$=".h++"]:before {
  content: '\E017';
  color: #a074c4;
}
.filetype-icon[data-filename$=".mm"]:before {
  content: '\E017';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".clj"]:before {
  content: '\E011';
  color: #8dc149;
}
.filetype-icon[data-filename$=".cljs"]:before {
  content: '\E011';
  color: #8dc149;
}
.filetype-icon[data-filename$=".cljc"]:before {
  content: '\E011';
  color: #8dc149;
}
.filetype-icon[data-filename$=".edn"]:before {
  content: '\E011';
  color: #519aba;
}
.filetype-icon[data-filename$=".cfc"]:before {
  content: '\E015';
  color: #519aba;
}
.filetype-icon[data-filename$=".cfm"]:before {
  content: '\E015';
  color: #519aba;
}
.filetype-icon[data-filename$=".coffee"]:before {
  content: '\E013';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".config"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".cfg"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".conf"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".cr"]:before {
  content: '\E018';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".ecr"]:before {
  content: '\E019';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".slang"]:before {
  content: '\E019';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".cson"]:before {
  content: '\E04F';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".css"]:before {
  content: '\E01A';
  color: #519aba;
}
.filetype-icon[data-filename$=".css.map"]:before {
  content: '\E01A';
  color: #519aba;
}
.filetype-icon[data-filename$=".sss"]:before {
  content: '\E01A';
  color: #519aba;
}
.filetype-icon[data-filename$=".csv"]:before {
  content: '\E01B';
  color: #8dc149;
}
.filetype-icon[data-filename$=".xls"]:before {
  content: '\E095';
  color: #8dc149;
}
.filetype-icon[data-filename$=".xlsx"]:before {
  content: '\E095';
  color: #8dc149;
}
.filetype-icon[data-filename$=".cake"]:before {
  content: '\E00B';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".ctp"]:before {
  content: '\E00C';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".d"]:before {
  content: '\E01C';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".doc"]:before {
  content: '\E094';
  color: #519aba;
}
.filetype-icon[data-filename$=".docx"]:before {
  content: '\E094';
  color: #519aba;
}
.filetype-icon[data-filename$=".ejs"]:before {
  content: '\E023';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".ex"]:before {
  content: '\E024';
  color: #a074c4;
}
.filetype-icon[data-filename$=".exs"]:before {
  content: '\E025';
  color: #a074c4;
}
.filetype-icon[data-filename$="mix"]:before {
  content: '\E041';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".elm"]:before {
  content: '\E026';
  color: #519aba;
}
.filetype-icon[data-filename$=".ico"]:before {
  content: '\E02B';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".fs"]:before {
  content: '\E02A';
  color: #519aba;
}
.filetype-icon[data-filename$=".fsx"]:before {
  content: '\E02A';
  color: #519aba;
}
.filetype-icon[data-filename$=".gitignore"]:before {
  content: '\E030';
  color: #41535b;
}
.filetype-icon[data-filename$=".gitconfig"]:before {
  content: '\E030';
  color: #41535b;
}
.filetype-icon[data-filename$=".gitkeep"]:before {
  content: '\E030';
  color: #41535b;
}
.filetype-icon[data-filename$=".gitattributes"]:before {
  content: '\E030';
  color: #41535b;
}
.filetype-icon[data-filename$=".gitmodules"]:before {
  content: '\E030';
  color: #41535b;
}
.filetype-icon[data-filename$=".go"]:before {
  content: '\E035';
  color: #519aba;
}
.filetype-icon[data-filename$=".slide"]:before {
  content: '\E034';
  color: #519aba;
}
.filetype-icon[data-filename$=".article"]:before {
  content: '\E034';
  color: #519aba;
}
.filetype-icon[data-filename$=".gradle"]:before {
  content: '\E036';
  color: #8dc149;
}
.filetype-icon[data-filename$=".groovy"]:before {
  content: '\E037';
  color: #8dc149;
}
.filetype-icon[data-filename$=".gsp"]:before {
  content: '\E037';
  color: #8dc149;
}
.filetype-icon[data-filename$=".gql"]:before {
  content: '\E038';
  color: #f55385;
}
.filetype-icon[data-filename$=".graphql"]:before {
  content: '\E038';
  color: #f55385;
}
.filetype-icon[data-filename$=".haml"]:before {
  content: '\E03C';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".handlebars"]:before {
  content: '\E05D';
  color: #e37933;
}
.filetype-icon[data-filename$=".hbs"]:before {
  content: '\E05D';
  color: #e37933;
}
.filetype-icon[data-filename$=".hjs"]:before {
  content: '\E05D';
  color: #e37933;
}
.filetype-icon[data-filename$=".hs"]:before {
  content: '\E03E';
  color: #a074c4;
}
.filetype-icon[data-filename$=".lhs"]:before {
  content: '\E03E';
  color: #a074c4;
}
.filetype-icon[data-filename$=".hx"]:before {
  content: '\E03F';
  color: #e37933;
}
.filetype-icon[data-filename$=".hxs"]:before {
  content: '\E03F';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".hxp"]:before {
  content: '\E03F';
  color: #519aba;
}
.filetype-icon[data-filename$=".hxml"]:before {
  content: '\E03F';
  color: #a074c4;
}
.filetype-icon[data-filename$=".html"]:before {
  content: '\E042';
  color: #e37933;
}
.filetype-icon[data-filename$=".jade"]:before {
  content: '\E049';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".java"]:before {
  content: '\E04A';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".class"]:before {
  content: '\E04A';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".classpath"]:before {
  content: '\E04A';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".properties"]:before {
  content: '\E04A';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".js"]:before {
  content: '\E04B';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".js.map"]:before {
  content: '\E04B';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".spec.js"]:before {
  content: '\E04B';
  color: #e37933;
}
.filetype-icon[data-filename$=".test.js"]:before {
  content: '\E04B';
  color: #e37933;
}
.filetype-icon[data-filename$=".es"]:before {
  content: '\E04B';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".es5"]:before {
  content: '\E04B';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".es6"]:before {
  content: '\E04B';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".es7"]:before {
  content: '\E04B';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".jinja"]:before {
  content: '\E04D';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".jinja2"]:before {
  content: '\E04D';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".json"]:before {
  content: '\E04F';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".jl"]:before {
  content: '\E050';
  color: #a074c4;
}
.filetype-icon[data-filename$="karma.conf.js"]:before {
  content: '\E051';
  color: #8dc149;
}
.filetype-icon[data-filename$="karma.conf.coffee"]:before {
  content: '\E051';
  color: #8dc149;
}
.filetype-icon[data-filename$=".kt"]:before {
  content: '\E052';
  color: #e37933;
}
.filetype-icon[data-filename$=".kts"]:before {
  content: '\E052';
  color: #e37933;
}
.filetype-icon[data-filename$=".dart"]:before {
  content: '\E01D';
  color: #519aba;
}
.filetype-icon[data-filename$=".less"]:before {
  content: '\E053';
  color: #519aba;
}
.filetype-icon[data-filename$=".liquid"]:before {
  content: '\E055';
  color: #8dc149;
}
.filetype-icon[data-filename$=".ls"]:before {
  content: '\E056';
  color: #519aba;
}
.filetype-icon[data-filename$=".lua"]:before {
  content: '\E058';
  color: #519aba;
}
.filetype-icon[data-filename$=".markdown"]:before {
  content: '\E05A';
  color: #519aba;
}
.filetype-icon[data-filename$=".md"]:before {
  content: '\E05A';
  color: #519aba;
}
.filetype-icon[data-filename$=".argdown"]:before {
  content: '\E003';
  color: #519aba;
}
.filetype-icon[data-filename$=".ad"]:before {
  content: '\E003';
  color: #519aba;
}
.filetype-icon[data-filename$="README.md"]:before {
  content: '\E047';
  color: #519aba;
}
.filetype-icon[data-filename$="CHANGELOG.md"]:before {
  content: '\E010';
  color: #519aba;
}
.filetype-icon[data-filename$="CHANGELOG"]:before {
  content: '\E010';
  color: #519aba;
}
.filetype-icon[data-filename$="CHANGES.md"]:before {
  content: '\E010';
  color: #519aba;
}
.filetype-icon[data-filename$="VERSION.md"]:before {
  content: '\E010';
  color: #519aba;
}
.filetype-icon[data-filename$="VERSION"]:before {
  content: '\E010';
  color: #519aba;
}
.filetype-icon[data-filename$="mvnw"]:before {
  content: '\E05B';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".mustache"]:before {
  content: '\E05D';
  color: #e37933;
}
.filetype-icon[data-filename$=".stache"]:before {
  content: '\E05D';
  color: #e37933;
}
.filetype-icon[data-filename$=".njk"]:before {
  content: '\E061';
  color: #8dc149;
}
.filetype-icon[data-filename$=".nunjucks"]:before {
  content: '\E061';
  color: #8dc149;
}
.filetype-icon[data-filename$=".nunjs"]:before {
  content: '\E061';
  color: #8dc149;
}
.filetype-icon[data-filename$=".nunj"]:before {
  content: '\E061';
  color: #8dc149;
}
.filetype-icon[data-filename$=".njs"]:before {
  content: '\E061';
  color: #8dc149;
}
.filetype-icon[data-filename$=".nj"]:before {
  content: '\E061';
  color: #8dc149;
}
.filetype-icon[data-filename$=".npm-debug.log"]:before {
  content: '\E05F';
  color: #41535b;
}
.filetype-icon[data-filename$=".npmignore"]:before {
  content: '\E05F';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".npmrc"]:before {
  content: '\E05F';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".ml"]:before {
  content: '\E062';
  color: #e37933;
}
.filetype-icon[data-filename$=".mli"]:before {
  content: '\E062';
  color: #e37933;
}
.filetype-icon[data-filename$=".cmx"]:before {
  content: '\E062';
  color: #e37933;
}
.filetype-icon[data-filename$=".cmxa"]:before {
  content: '\E062';
  color: #e37933;
}
.filetype-icon[data-filename$=".odata"]:before {
  content: '\E063';
  color: #e37933;
}
.filetype-icon[data-filename$=".pl"]:before {
  content: '\E066';
  color: #519aba;
}
.filetype-icon[data-filename$=".php"]:before {
  content: '\E068';
  color: #a074c4;
}
.filetype-icon[data-filename$=".php.inc"]:before {
  content: '\E068';
  color: #a074c4;
}
.filetype-icon[data-filename$=".pddl"]:before {
  content: '\E064';
  color: #a074c4;
}
.filetype-icon[data-filename$=".plan"]:before {
  content: '\E069';
  color: #8dc149;
}
.filetype-icon[data-filename$=".happenings"]:before {
  content: '\E03D';
  color: #519aba;
}
.filetype-icon[data-filename$=".ps1"]:before {
  content: '\E06B';
  color: #519aba;
}
.filetype-icon[data-filename$=".psd1"]:before {
  content: '\E06B';
  color: #519aba;
}
.filetype-icon[data-filename$=".psm1"]:before {
  content: '\E06B';
  color: #519aba;
}
.filetype-icon[data-filename$=".pug"]:before {
  content: '\E06D';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".pp"]:before {
  content: '\E06E';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".epp"]:before {
  content: '\E06E';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".py"]:before {
  content: '\E06F';
  color: #519aba;
}
.filetype-icon[data-filename$=".jsx"]:before {
  content: '\E071';
  color: #519aba;
}
.filetype-icon[data-filename$=".spec.jsx"]:before {
  content: '\E071';
  color: #e37933;
}
.filetype-icon[data-filename$=".test.jsx"]:before {
  content: '\E071';
  color: #e37933;
}
.filetype-icon[data-filename$=".cjsx"]:before {
  content: '\E071';
  color: #519aba;
}
.filetype-icon[data-filename$=".tsx"]:before {
  content: '\E071';
  color: #519aba;
}
.filetype-icon[data-filename$=".spec.tsx"]:before {
  content: '\E071';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".test.tsx"]:before {
  content: '\E071';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".re"]:before {
  content: '\E072';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".R"]:before {
  content: '\E001';
  color: #519aba;
}
.filetype-icon[data-filename$=".rb"]:before {
  content: '\E074';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".erb"]:before {
  content: '\E043';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".erb.html"]:before {
  content: '\E043';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".html.erb"]:before {
  content: '\E043';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".rs"]:before {
  content: '\E075';
  color: #6d8086;
}
.filetype-icon[data-filename$=".sass"]:before {
  content: '\E077';
  color: #f55385;
}
.filetype-icon[data-filename$=".scss"]:before {
  content: '\E077';
  color: #f55385;
}
.filetype-icon[data-filename$=".springBeans"]:before {
  content: '\E07F';
  color: #8dc149;
}
.filetype-icon[data-filename$=".slim"]:before {
  content: '\E07D';
  color: #e37933;
}
.filetype-icon[data-filename$=".smarty.tpl"]:before {
  content: '\E07E';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".sbt"]:before {
  content: '\E078';
  color: #519aba;
}
.filetype-icon[data-filename$=".scala"]:before {
  content: '\E079';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".sol"]:before {
  content: '\E029';
  color: #519aba;
}
.filetype-icon[data-filename$=".styl"]:before {
  content: '\E081';
  color: #8dc149;
}
.filetype-icon[data-filename$=".swift"]:before {
  content: '\E084';
  color: #e37933;
}
.filetype-icon[data-filename$=".sql"]:before {
  content: '\E01E';
  color: #f55385;
}
.filetype-icon[data-filename$=".tf"]:before {
  content: '\E085';
  color: #a074c4;
}
.filetype-icon[data-filename$=".tf.json"]:before {
  content: '\E085';
  color: #a074c4;
}
.filetype-icon[data-filename$=".tfvars"]:before {
  content: '\E085';
  color: #a074c4;
}
.filetype-icon[data-filename$=".tex"]:before {
  content: '\E086';
  color: #519aba;
}
.filetype-icon[data-filename$=".sty"]:before {
  content: '\E086';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".dtx"]:before {
  content: '\E086';
  color: #e37933;
}
.filetype-icon[data-filename$=".ins"]:before {
  content: '\E086';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".txt"]:before {
  content: '\E01F';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".toml"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".twig"]:before {
  content: '\E08A';
  color: #8dc149;
}
.filetype-icon[data-filename$=".ts"]:before {
  content: '\E08B';
  color: #519aba;
}
.filetype-icon[data-filename$=".spec.ts"]:before {
  content: '\E08B';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".test.ts"]:before {
  content: '\E08B';
  color: #cbcb41;
}
.filetype-icon[data-filename$="tsconfig.json"]:before {
  content: '\E089';
  color: #519aba;
}
.filetype-icon[data-filename$=".vala"]:before {
  content: '\E08C';
  color: #6d8086;
}
.filetype-icon[data-filename$=".vapi"]:before {
  content: '\E08C';
  color: #6d8086;
}
.filetype-icon[data-filename$=".vue"]:before {
  content: '\E08E';
  color: #8dc149;
}
.filetype-icon[data-filename$=".wasm"]:before {
  content: '\E08F';
  color: #a074c4;
}
.filetype-icon[data-filename$=".wat"]:before {
  content: '\E090';
  color: #a074c4;
}
.filetype-icon[data-filename$=".xml"]:before {
  content: '\E096';
  color: #e37933;
}
.filetype-icon[data-filename$=".yml"]:before {
  content: '\E098';
  color: #a074c4;
}
.filetype-icon[data-filename$=".yaml"]:before {
  content: '\E098';
  color: #a074c4;
}
.filetype-icon[data-filename$="swagger.json"]:before {
  content: '\E04F';
  color: #8dc149;
}
.filetype-icon[data-filename$="swagger.yml"]:before {
  content: '\E04F';
  color: #8dc149;
}
.filetype-icon[data-filename$="swagger.yaml"]:before {
  content: '\E04F';
  color: #8dc149;
}
.filetype-icon[data-filename$=".jar"]:before {
  content: '\E099';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".zip"]:before {
  content: '\E099';
  color: #6d8086;
}
.filetype-icon[data-filename$=".wgt"]:before {
  content: '\E092';
  color: #519aba;
}
.filetype-icon[data-filename$=".ai"]:before {
  content: '\E045';
  color: #cbcb41;
}
.filetype-icon[data-filename$=".psd"]:before {
  content: '\E067';
  color: #519aba;
}
.filetype-icon[data-filename$=".pdf"]:before {
  content: '\E065';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".eot"]:before {
  content: '\E02F';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".ttf"]:before {
  content: '\E02F';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".woff"]:before {
  content: '\E02F';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".woff2"]:before {
  content: '\E02F';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".gif"]:before {
  content: '\E046';
  color: #a074c4;
}
.filetype-icon[data-filename$=".jpg"]:before {
  content: '\E046';
  color: #a074c4;
}
.filetype-icon[data-filename$=".jpeg"]:before {
  content: '\E046';
  color: #a074c4;
}
.filetype-icon[data-filename$=".png"]:before {
  content: '\E046';
  color: #a074c4;
}
.filetype-icon[data-filename$=".pxm"]:before {
  content: '\E046';
  color: #a074c4;
}
.filetype-icon[data-filename$=".svg"]:before {
  content: '\E083';
  color: #a074c4;
}
.filetype-icon[data-filename$=".svgx"]:before {
  content: '\E046';
  color: #a074c4;
}
.filetype-icon[data-filename$=".sublime-project"]:before {
  content: '\E082';
  color: #e37933;
}
.filetype-icon[data-filename$=".sublime-workspace"]:before {
  content: '\E082';
  color: #e37933;
}
.filetype-icon[data-filename$=".component"]:before {
  content: '\E076';
  color: #519aba;
}
.filetype-icon[data-filename$=".cls"]:before {
  content: '\E076';
  color: #519aba;
}
.filetype-icon[data-filename$=".sh"]:before {
  content: '\E07C';
  color: #4d5a5e;
}
.filetype-icon[data-filename$=".zsh"]:before {
  content: '\E07C';
  color: #4d5a5e;
}
.filetype-icon[data-filename$=".fish"]:before {
  content: '\E07C';
  color: #4d5a5e;
}
.filetype-icon[data-filename$=".zshrc"]:before {
  content: '\E07C';
  color: #4d5a5e;
}
.filetype-icon[data-filename$=".bashrc"]:before {
  content: '\E07C';
  color: #4d5a5e;
}
.filetype-icon[data-filename$=".mov"]:before {
  content: '\E08D';
  color: #f55385;
}
.filetype-icon[data-filename$=".ogv"]:before {
  content: '\E08D';
  color: #f55385;
}
.filetype-icon[data-filename$=".webm"]:before {
  content: '\E08D';
  color: #f55385;
}
.filetype-icon[data-filename$=".avi"]:before {
  content: '\E08D';
  color: #f55385;
}
.filetype-icon[data-filename$=".mpg"]:before {
  content: '\E08D';
  color: #f55385;
}
.filetype-icon[data-filename$=".mp4"]:before {
  content: '\E08D';
  color: #f55385;
}
.filetype-icon[data-filename$=".mp3"]:before {
  content: '\E005';
  color: #a074c4;
}
.filetype-icon[data-filename$=".ogg"]:before {
  content: '\E005';
  color: #a074c4;
}
.filetype-icon[data-filename$=".wav"]:before {
  content: '\E005';
  color: #a074c4;
}
.filetype-icon[data-filename$=".flac"]:before {
  content: '\E005';
  color: #a074c4;
}
.filetype-icon[data-filename$=".3ds"]:before {
  content: '\E083';
  color: #519aba;
}
.filetype-icon[data-filename$=".3dm"]:before {
  content: '\E083';
  color: #519aba;
}
.filetype-icon[data-filename$=".stl"]:before {
  content: '\E083';
  color: #519aba;
}
.filetype-icon[data-filename$=".obj"]:before {
  content: '\E083';
  color: #519aba;
}
.filetype-icon[data-filename$=".dae"]:before {
  content: '\E083';
  color: #519aba;
}
.filetype-icon[data-filename$=".bat"]:before {
  content: '\E093';
  color: #519aba;
}
.filetype-icon[data-filename$=".cmd"]:before {
  content: '\E093';
  color: #519aba;
}
.filetype-icon[data-filename$="mime.types"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$="Jenkinsfile"]:before {
  content: '\E04C';
  color: #cc3e44;
}
.filetype-icon[data-filename$=".babelrc"]:before {
  content: '\E006';
  color: #cbcb41;
}
.filetype-icon[data-filename$="bower.json"]:before {
  content: '\E007';
  color: #e37933;
}
.filetype-icon[data-filename$="Bower.json"]:before {
  content: '\E007';
  color: #e37933;
}
.filetype-icon[data-filename$=".bowerrc"]:before {
  content: '\E007';
  color: #e37933;
}
.filetype-icon[data-filename$="dockerfile"]:before {
  content: '\E021';
  color: #519aba;
}
.filetype-icon[data-filename$="Dockerfile"]:before {
  content: '\E021';
  color: #519aba;
}
.filetype-icon[data-filename$="DOCKERFILE"]:before {
  content: '\E021';
  color: #519aba;
}
.filetype-icon[data-filename$=".dockerignore"]:before {
  content: '\E021';
  color: #4d5a5e;
}
.filetype-icon[data-filename$="docker-healthcheck"]:before {
  content: '\E021';
  color: #8dc149;
}
.filetype-icon[data-filename$="docker-compose.yml"]:before {
  content: '\E021';
  color: #f55385;
}
.filetype-icon[data-filename$="docker-compose.yaml"]:before {
  content: '\E021';
  color: #f55385;
}
.filetype-icon[data-filename$="docker-compose.override.yml"]:before {
  content: '\E021';
  color: #f55385;
}
.filetype-icon[data-filename$="docker-compose.override.yaml"]:before {
  content: '\E021';
  color: #f55385;
}
.filetype-icon[data-filename$=".codeclimate.yml"]:before {
  content: '\E012';
  color: #8dc149;
}
.filetype-icon[data-filename$=".eslintrc"]:before {
  content: '\E028';
  color: #a074c4;
}
.filetype-icon[data-filename$=".eslintrc.js"]:before {
  content: '\E028';
  color: #a074c4;
}
.filetype-icon[data-filename$=".eslintrc.yaml"]:before {
  content: '\E028';
  color: #a074c4;
}
.filetype-icon[data-filename$=".eslintrc.yml"]:before {
  content: '\E028';
  color: #a074c4;
}
.filetype-icon[data-filename$=".eslintrc.json"]:before {
  content: '\E028';
  color: #a074c4;
}
.filetype-icon[data-filename$=".eslintignore"]:before {
  content: '\E028';
  color: #4d5a5e;
}
.filetype-icon[data-filename$=".firebaserc"]:before {
  content: '\E02C';
  color: #e37933;
}
.filetype-icon[data-filename$="firebase.json"]:before {
  content: '\E02C';
  color: #e37933;
}
.filetype-icon[data-filename$="geckodriver"]:before {
  content: '\E02D';
  color: #e37933;
}
.filetype-icon[data-filename$="Gruntfile.js"]:before {
  content: '\E039';
  color: #e37933;
}
.filetype-icon[data-filename$="gruntfile.babel.js"]:before {
  content: '\E039';
  color: #e37933;
}
.filetype-icon[data-filename$="Gruntfile.babel.js"]:before {
  content: '\E039';
  color: #e37933;
}
.filetype-icon[data-filename$="gruntfile.js"]:before {
  content: '\E039';
  color: #e37933;
}
.filetype-icon[data-filename$="Gruntfile.coffee"]:before {
  content: '\E039';
  color: #e37933;
}
.filetype-icon[data-filename$="gruntfile.coffee"]:before {
  content: '\E039';
  color: #e37933;
}
.filetype-icon[data-filename$="GULPFILE"]:before {
  content: '\E03A';
  color: #cc3e44;
}
.filetype-icon[data-filename$="Gulpfile"]:before {
  content: '\E03A';
  color: #cc3e44;
}
.filetype-icon[data-filename$="gulpfile"]:before {
  content: '\E03A';
  color: #cc3e44;
}
.filetype-icon[data-filename$="ionic.config.json"]:before {
  content: '\E048';
  color: #519aba;
}
.filetype-icon[data-filename$="Ionic.config.json"]:before {
  content: '\E048';
  color: #519aba;
}
.filetype-icon[data-filename$="ionic.project"]:before {
  content: '\E048';
  color: #519aba;
}
.filetype-icon[data-filename$="Ionic.project"]:before {
  content: '\E048';
  color: #519aba;
}
.filetype-icon[data-filename$=".jshintrc"]:before {
  content: '\E04B';
  color: #519aba;
}
.filetype-icon[data-filename$=".jscsrc"]:before {
  content: '\E04B';
  color: #519aba;
}
.filetype-icon[data-filename$="platformio.ini"]:before {
  content: '\E06A';
  color: #e37933;
}
.filetype-icon[data-filename$="rollup.config.js"]:before {
  content: '\E073';
  color: #cc3e44;
}
.filetype-icon[data-filename$="sass-lint.yml"]:before {
  content: '\E077';
  color: #f55385;
}
.filetype-icon[data-filename$=".stylelintrc"]:before {
  content: '\E080';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".stylelintrc.json"]:before {
  content: '\E080';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".stylelintrc.yaml"]:before {
  content: '\E080';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".stylelintrc.yml"]:before {
  content: '\E080';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".stylelintrc.js"]:before {
  content: '\E080';
  color: #d4d7d6;
}
.filetype-icon[data-filename$=".stylelintignore"]:before {
  content: '\E080';
  color: #4d5a5e;
}
.filetype-icon[data-filename$="stylelint.config.js"]:before {
  content: '\E080';
  color: #d4d7d6;
}
.filetype-icon[data-filename$="yarn.clean"]:before {
  content: '\E097';
  color: #519aba;
}
.filetype-icon[data-filename$="yarn.lock"]:before {
  content: '\E097';
  color: #519aba;
}
.filetype-icon[data-filename$="webpack.config.js"]:before {
  content: '\E091';
  color: #519aba;
}
.filetype-icon[data-filename$="webpack.config.build.js"]:before {
  content: '\E091';
  color: #519aba;
}
.filetype-icon[data-filename$="webpack.common.js"]:before {
  content: '\E091';
  color: #519aba;
}
.filetype-icon[data-filename$="webpack.dev.js"]:before {
  content: '\E091';
  color: #519aba;
}
.filetype-icon[data-filename$="webpack.prod.js"]:before {
  content: '\E091';
  color: #519aba;
}
.filetype-icon[data-filename$=".direnv"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".env"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".static"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".editorconfig"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".slugignore"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".tmp"]:before {
  content: '\E010';
  color: #6d8086;
}
.filetype-icon[data-filename$=".htaccess"]:before {
  content: '\E016';
  color: #6d8086;
}
.filetype-icon[data-filename$=".key"]:before {
  content: '\E057';
  color: #8dc149;
}
.filetype-icon[data-filename$=".cert"]:before {
  content: '\E057';
  color: #8dc149;
}
.filetype-icon[data-filename$="LICENSE"]:before {
  content: '\E054';
  color: #cbcb41;
}
.filetype-icon[data-filename$="LICENCE"]:before {
  content: '\E054';
  color: #cbcb41;
}
.filetype-icon[data-filename$="COPYING"]:before {
  content: '\E054';
  color: #cbcb41;
}
.filetype-icon[data-filename$="COMPILING"]:before {
  content: '\E054';
  color: #e37933;
}
.filetype-icon[data-filename$="CONTRIBUTING"]:before {
  content: '\E054';
  color: #cc3e44;
}
.filetype-icon[data-filename$="MAKEFILE"]:before {
  content: '\E059';
  color: #e37933;
}
.filetype-icon[data-filename$="Makefile"]:before {
  content: '\E059';
  color: #e37933;
}
.filetype-icon[data-filename$="makefile"]:before {
  content: '\E059';
  color: #e37933;
}
.filetype-icon[data-filename$="QMAKEFILE"]:before {
  content: '\E059';
  color: #a074c4;
}
.filetype-icon[data-filename$="QMakefile"]:before {
  content: '\E059';
  color: #a074c4;
}
.filetype-icon[data-filename$="qmakefile"]:before {
  content: '\E059';
  color: #a074c4;
}
.filetype-icon[data-filename$="OMAKEFILE"]:before {
  content: '\E059';
  color: #6d8086;
}
.filetype-icon[data-filename$="OMakefile"]:before {
  content: '\E059';
  color: #6d8086;
}
.filetype-icon[data-filename$="omakefile"]:before {
  content: '\E059';
  color: #6d8086;
}
.filetype-icon[data-filename$="CMAKELISTS.TXT"]:before {
  content: '\E059';
  color: #519aba;
}
.filetype-icon[data-filename$="CMAKELISTS.txt"]:before {
  content: '\E059';
  color: #519aba;
}
.filetype-icon[data-filename$="CMakeLists.txt"]:before {
  content: '\E059';
  color: #519aba;
}
.filetype-icon[data-filename$="cmakelists.txt"]:before {
  content: '\E059';
  color: #519aba;
}
.filetype-icon[data-filename$="Procfile"]:before {
  content: '\E040';
  color: #a074c4;
}
.filetype-icon[data-filename$="TODO"]:before {
  content: '\E088';
  color: #519aba;
}
.filetype-icon[data-filename$="npm-debug.log"]:before {
  content: '\E060';
  color: #41535b;
}
.filetype-icon[data-filename$=".DS_Store"]:before {
  content: '\E044';
  color: #41535b;
}
